services:

  nginx:
    image: nginx:stable-alpine
    restart: unless-stopped
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/certs/:/etc/nginx/certs/
    ports:
      - 443:443
    depends_on:
      - app

  app:
    build: .
    restart: unless-stopped
    volumes:
      - ./app:/app/app
      - ./app.py:/app/app.py
      - ./config.json:/app/config.json
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - postgres
    environment:
      DEBUG: ${DEBUG}
      ADMIN_ONLY: ${ADMIN_ONLY}
      DATABASE_URI: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/${POSTGRES_DB}
      ENABLE_RECAPTCHA: ${ENABLE_RECAPTCHA}
      RECAPTCHA_SITE_KEY: ${RECAPTCHA_SITE_KEY}
      RECAPTCHA_SECRET_KEY: ${RECAPTCHA_SECRET_KEY}

  postgres:
    image: postgres:18-alpine
    restart: unless-stopped
    volumes:
      - ./data/:/var/lib/postgresql/
    environment:
      POSTGRES_USER: ${POSTGRES_USER:?Please provide a PostgreSQL username} 
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?Please provide a PostgreSQL password.}  
      POSTGRES_DB: ${POSTGRES_DB:?Please provide a PostgreSQL database name.}
