services:

  app:
    build: .
    restart: unless-stopped
    ports:
      - "5000:5000"
    volumes:
      - .:/app/
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - postgres
    environment:
      DEBUG: 1
      DATABASE_URI: postgresql://postgres:password@postgres/deploy_dynamic
      ENABLE_RECAPTCHA: 0

  postgres:
    image: postgres:18-alpine
    restart: unless-stopped
    volumes:
      - ./data/:/var/lib/postgresql/
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: deploy_dynamic
