blinker==1.9.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
docker==7.1.0
docker-pycreds==0.4.0
Flask==3.1.2
Flask-ReCaptcha==0.4.2
Flask-SQLAlchemy==3.1.1
greenlet==3.2.4
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
psycopg2-binary==2.9.11
requests==2.32.5
six==1.17.0
SQLAlchemy==2.0.44
typing_extensions==4.15.0
urllib3==2.5.0
waitress==3.0.2
websocket-client==1.9.0
Werkzeug==3.1.3
