{% extends 'base.html' %}

{% block main %}
<div class="row center" style="text-align: center;">
	<div>
		<h1>Deploy unique instance</h1>
		<h3>Create your access token at <a href="{{ ctfd_url }}/settings#tokens" target="_blank">{{ ctfd_url }}/settings#tokens.</a></h3>
		<h4>Do not forget to set a valid expiration date for the token.</h4>
	</div>
</div>

<div>
	<div class="row center">
		<div class="terminal">
            {% if error %}
                <p style="color: red;">Error: {{ message }}</p>
            {% endif %}

			<form method="POST" action="{{ url_for('login') }}">
				<span class="green_prefix size_up"> $ </span><label for="api_key">CTFd Access Tokens</label>
				<br>
                <br>
				<span class="green_prefix">&nbsp> </span>
                <input class="width_90" placeholder="Enter your access tokens" type="text" name="access_key">
				<br>
                <br>
                <input class="bold" type="submit" value="Login">
			</form>
		</div>
	</div>
</div>
{% endblock %}
