{% extends 'base.html' %}

{% block main %}
<div class="row center">
	<h1>Deploy unique instance</h1>
</div>

<div>
	<div class="row center">
		<div class="terminal">
			<h3>Challenge : {{ challenge }}</h3>

			<p>Instance is starting on host {{ host }} and port {{ port }}</p>

			<br>

			<h4>Connection</h4>

			{% if type == 'tcp' %}
				<p><pre>nc {{ host }} {{ port }}</pre></p>
			{% elif type == 'web' %}
				<p><a href="http://{{ host }}:{{ port }}" target="_blank">http://{{ host }}:{{ port }}</a></p>
			{% elif type == 'ssh' %}
				<p><pre>ssh change_me@{{ host }} -p {{ port }}</pre></p>
				<br>
				<p>User and password for SSH are in the challenge description.</p>
			{% endif %}			
		</div>

		<a href="{{ url_for('index')}}">Go back</a>
	</div>
</div>
{% endblock %}